*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner marquee{
    color: orange;
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    text-transform: uppercase;
}
.banner-image img{
    width: 100%;
height: 300px;}
.menu{
    height: 100px;
    background:rgb(214, 156, 212) ;
    width: 100%;
    margin-top: -3px;
}
.menu-item{
    
    margin-left: 100px;
}
.menu-item li a{
    line-height: 30px;
    color: 	red;

}
.content{
    background:rgb(214, 156, 212) ;
    line-height: 30px;
}
.content-item{
  
    margin: 0px 10px;
   
}
.menu{
    border-bottom: 1px solid white;
}
.image-text{

    display: flex;
}
h3, .text{
    color: #000080;
}
.image-text img{
    width: 220px;
    height: 150px;
    border-radius: 3px;
}
.text{
    padding: 0px 15px;
    margin: 15px 0px;
    line-height: 25px;
}
.dulich{
   margin-left: -15px;
}
hr{
    margin-top: 15px;
    color: white;
}
